@import url("main.css");

div.title {
    margin-top: 0.5em;

    text-align: center;
}

div#left {
    float: left;
    width: 67%;
}

div.body {
    margin: 1em 0 1em 1em;

    line-height: 2em;
}

div#right {
    float: right;
    width: 33%;
}

div#photo {
    margin: 2em 2em 1em;
}

img#photo {
    max-width: 100%;
}

div.caption {
    margin: 0 2em 2em;

    text-align: center;
}