@import url("main.css");

h1 {
    margin-top: 0.5em;

    text-align: center;
}

#left {
    float: left;
    width: 67%;
}

p {
    margin: 1em 0em 1em 1em;

    line-height: 200%;
}

#right {
    float: right;
    width: 33%;
}

div#main_photo {
    margin: 2em 2em 0em;
}

img#main_photo {
    max-width: 100%;
}

h2.caption {
    margin: 1em 2em 2em;

    text-align: center;
}