@import url("main_centered.css");

#left {
    float: left;
    width: 50%;
}

h1 {
    float: right;
    margin: 0.5em;

    text-align: right;
}

#right {
    float: right;
    width: 50%;
}

.contact {
    height: 2em;
    float: left;
    clear: left;
    padding: 1em;

    word-break: break-all;
}

#first_contact {
    margin-top: 1em;
}

#last_contact {
    margin-bottom: 1em;
}

h2 {
    display: inline;
}

a.contact:hover {
    background-color: #111B;
}

a.contact:active {
    background-color: #000 !important;
}