@import url("main.css");

div#left {
    float: left;
    width: 50%;
}

div.title {
    float: right;
    margin: 0.5em;

    text-align: right;
}

div#right {
    float: right;
    width: 50%;
}

.body {
    float: left;
    clear: left;
    padding: 0.5em;
}

#body_first {
    margin-top: 0.5em;
}

#body_last {
    margin-bottom: 0.5em;
}

a.body:hover {
    background-color: #111B;
}

a.body:active {
    background-color: #000 !important;
}

img {
    height: 1em;
}