@import url("main.css");

div#left {
    float: left;
    width: 50%;
}

div.title {
    float: right;
    margin: 0.5em;

    text-align: right;
}

div#right {
    float: right;
    width: 50%;
}

.heading {
    float: left;
    clear: left;
    padding: 0.5em;
}

#heading_first {
    margin-top: 0.5em;
}

#heading_last {
    margin-bottom: 0.5em;
}

a.heading:hover {
    background-color: #111B;
}

a.heading:active {
    background-color: #000 !important;
}

img {
    height: 1em;
}