@import url("main.css");

div#center {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    background-color: #3337;
}

div#left {
    float: left;
    width: 50%;
}

img#photo {
    float: right;
    margin: 2em;
    height: 16em;

    border-radius: 50%;
}

div#right {
    float: right;
    width: 50%;
}

div#title {
    margin-top: 0.5em;

    font-size: 4em;
    font-weight: bold;

    color: #FFF;
}

div#heading {
    margin: 1em 0;
    max-width: 18em;

    font-size: 2em;
    font-weight: bold;

    color: #FFF;
}

img#linkedin_svg {
    margin-bottom: 2em;
    height: 2em;
}

img#github_svg {
    margin-bottom: 2em;
    height: 2em;
    transform: translateX(100%);
}