@import url("main_centered.css");

div#left {
    float: left;
    width: 50%;
}

img#photo {
    float: right;
    margin: 2em;
    height: 16em;

    border-radius: 50%;
}

div#right {
    float: right;
    width: 50%;
}

div.title {
    margin-top: 0.5em;
}

div.heading {
    margin: 1em 0;
    max-width: 18em;
}

img.icon {
    margin-bottom: 2em;
    height: 2em;
}

img#icon_2 {
    transform: translateX(100%);
}