@import url("navigation.css");

body {
    margin: 0%;

    font: medium Verdana, Tahoma, sans-serif;
}

div#center {
    position: absolute;
    top: 33%;
    margin-bottom: 2em;
    width: 100%;

    background-color: #3337;
}

a {
    text-decoration: none;
}

img#background {
    position: fixed;
    top: -200px;
    left: -100px;
    width: 2000px;
    height: 1500px;
}