@import url("navigation.css");

body {
    margin: 0%;

    font: medium Verdana, Tahoma, sans-serif;
}

div#content {
    position: absolute;
    top: 25%;
    margin-bottom: 2em;
    width: 100%;

    background-color: #3337;
}

div.title {
    font-size: 4em;
    font-weight: bold;

    color: #FFF;
}

div.heading {
    font-size: 2em;
    font-weight: bold;

    color: #FFF;
}

.body {
    font-size: 2em;

    color: #FFF;
}

.caption {
    font-size: 1em;

    color: #FFF;
}

a {
    text-decoration: none;
}

img#background {
    position: fixed;
    top: -200px;
    left: -100px;
    width: 2000px;
    height: 1500px;
}