@import url("main.css");

h1 {
    clear: both;
    padding-top: 0.5em;

    text-align: center;
}

.project {
    clear: both;
}

.project > div {
    margin-top: 2em;
}

.info {
    width: 50%;
}

.media {
    width: 50%;

    text-align: center;
}

.left {
    float: left;

    text-align: right;
}

.right {
    float: right;

    text-align: left;
}

.left > div {
    margin: 0em 1em 0em 2em;
}

.right > div {
    margin: 0em 2em 0em 1em;
}

h2 {
    font-size: 4em;
}

p {
    margin-top: 0.8em;

    font-size: 1.25em;
}

p.highlights {
    margin-top: 0em;
    font-weight: bold;
}

.media img {
    width: 100%;
}

.media video {
    display: block;
    width: 100%;
}