@import url("main_centered_handheld.css");

div.title {
    margin-top: 0.5em;

    font-size: 2em;
    text-align: center;
}

div.body {
    margin: 1em 0 1em;

    font-size: 1em;
    text-align: center;
}