@import url("main_handheld.css");

h1 {
    margin-top: 0.5em;

    text-align: center;
}

p {
    margin: 1.6em 1.6em 0em;

    font-size: 1.25em;
    line-height: 200%;
    text-align: center;
}

#right > div {
    margin: 1em 2em 0em;
}

img#main_photo {
    width: 100%;
}

h2.caption {
    margin: 1em 2em 2em;

    text-align: center;
}