@import url("main_handheld.css");

div.title {
    margin-top: 0.5em;

    text-align: center;
}

div.body {
    margin: 1em 1em 0em;

    line-height: 2em;

    text-align: center;
}

div#photo {
    margin: 2em 2em 0em;
}

img#photo {
    max-width: 100%;
}

div.caption {
    margin: 1em 2em 2em;

    text-align: center;
}