@import url("main_handheld.css");

div.title {
    margin-top: 0.5em;

    text-align: center;
}

div.body {
    margin: 1em 1em 0em;

    line-height: 2em;

    text-align: center;
}

img#photo {
    display: block;
    width: 75%;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

div.caption {
    margin: 1em 2em 2em;

    text-align: center;
}