@import url("main_centered_handheld.css");

div.title {
    margin-top: 0.5em;

    text-align: center;
}

.heading {
    display: block;

    padding: 0.5em 1em 0.5em;
}

#heading_first {
    margin-top: 0.5em;
}

#heading_last {
    margin-bottom: 0.5em;
}

a.heading:hover {
    background-color: #111B;
}

a.heading:active {
    background-color: #000 !important;
}

img {
    height: 1em;
}