@import url("../main.css");
@import url("navigation_handheld.css");

body {
    font-size: x-small;
}

.title {
    font-size: 3em;
}

.heading {
    font-size: 1.5em;
}

.body {
    font-size: 1.5em;
}

.caption {
    font-size: 1.5em;
}