@import url("../main.css");
@import url("navigation_handheld.css");

body {
    font-size: x-small;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

.caption {
    font-size: 1.25em;
}

img.icon {
    height: 2em;
}