@import url("main_handheld.css");

h1 {
    clear: both;
    padding-top: 0.5em;

    text-align: center;
}

.project {
    clear: both;
}

.project > div {
    margin-left: 2em;
    margin-right: 2em;
}

.info {
    margin-top: 2em;
    text-align: center;
}

.media {
    margin-top: 1em;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    margin-top: 0.8em;
}

p.highlights {
    margin-top: 0em;
    font-weight: bold;
}

.media img {
    width: 100%;
}

.media video {
    display: block;
    width: 100%;
}